@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #0B2434;
    padding: 20px;
}

main{
    background-color: #F5F5F5;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 30vh auto;
    padding: 60px 0;
    max-width: 800px;
    border-radius: 10px;
}

.die{
    font-size: 45px;
    padding: 5px;
    width: 80px;
    height: 80px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
    cursor: pointer;
    user-select: none;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
}

.roll-btn{
    width: auto;
    height: auto;
    padding: 20px 30px;
    font-size: 35px;
    margin: 50px auto;
    margin-bottom: 0px;
    background-color: #5035FF;
    color: #F5F5F5;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
}

.roll-btn:focus {
    outline: none;
}

.roll-btn:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
